{% extends "layout.html" %}
{% block content %}

<h1>About Developer</h1>
<small>Not About the app, Cause this is my app.</small>

<div class="about">
  <p>I’m Nihar – a thinker, learner etc. etc.</p>

  <p>
    I am pursuing my Btech in Nit Rourkela. Where I developed my love for thinking. I thought Linux would be sexy, I dual-booted my machine, and all worked fine, deleted the healthy recovery partition, and everything went down the drain.
  </p>

  <p>
    In my free time, I think about contributing to open-source projects. And when you start thinking about something, you think of thinking about the thing, then you start thinking more of the thought you're thinking of, thinking of the thing. And now you must be thinking about what I just wrote about thinking of, thinking of the thing ...of what&quest;&quest;&quest;
  </p>

  <p>
    When I’m not programming, I listen to music, watch football, and I imagine myself exercise.
  </p>
</div>

<a href="https://github.com/niharme/" target="_blank">Github</a>

{% endblock content %}
