{% extends "layout.html" %} {% block content %}

<div class="dashboard">
  <h1 class="page-heading">Dashboard</h1>
  <div class="profile-card">

    <!-- <img src="https://avatars.dicebear.com/api/identicon/{{current_user.username}}.svg" alt="profile picture for {{ current_user.username }}" class="profile-image"> -->
    

    <img src="{{ picture }}" alt="profile picture for {{ current_user.name }}" class="profile-image">
  
    <h2 class="profile-card-name">{{ current_user.name }}</h2>
    <h2 class="profile-card-username">@{{ current_user.username }}</h2>
    <p class="profile-card-email">{{ current_user.email }}</p>
  </div>
  

  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="form-fields">
        <div class="form-field">
          {{ form.name.label(class='label') }}
          {% if form.name.errors %}
            {{ form.name(class="input-field") }}
  
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="input-field") }}
          {% endif %}
        </div>

        <div class="form-field">
          {{ form.username.label(class='label') }}
          {% if form.username.errors %}
            {{ form.username(class="input-field") }}
  
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="input-field") }}
          {% endif %}
        </div>
  
        <div class="form-field">
          {{ form.email.label(class='label') }}
          {% if form.email.errors %}
            {{ form.email(class="input-field") }}
  
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="input-field") }}
          {% endif %}
        </div>
        <div class="form-field">
          {{ form.picture.label(class="custom-file-upload") }}
          {{ form.picture() }}
          {% if form.picture.errors %}
            {% for error in form.picture.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      
    </fieldset>
    <div class="form-fields">{{ form.submit(class="submit-btn btn") }}</div>
  </form>


</div>

{% endblock content %}
